.boton {
    background-color: purple;
    text-align: center;
    color: pink;
    border-radius: 20px;
    border: 1px solid black;
    &:hover{
        filter: opacity(85%);

    }
}

.botonRojo{
    @extend .boton;
    background-color: red;
    color: blue;
}

.botonVerde{
    @extend .boton;
    background-color: rgb(255, 0, 157);
    color: rgb(0, 255, 242);
}
